* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  background-color: black;
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);

  &__spot {
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;

    &.spot--filled {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  &__svg {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  width: min(50vh, 50vw);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  &__button {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1rem;
  }
}

.players__dialog button,
.winner__dialog button {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.button {
  &--start,
  &--submit,
  &--continue {
    background-color: rgb(0, 112, 0);
    color: rgb(255, 255, 255);
    &:hover {
      background-color: lighten(rgb(4, 112, 0), 15%);
    }
    &:disabled {
      background-color: rgb(128, 128, 128);
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
  &--end {
    background-color: rgb(112, 0, 0);
    color: rgb(255, 255, 255);
    &:hover {
      background-color: lighten(rgb(112, 0, 0), 15%);
    }
  }
  &--continue {
    margin-right: 1rem;
  }
}

.players {
  &__dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
    font-weight: bold;
  }

  &__input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}

.winner {
  &__dialog {
    text-align: center;
    width: 60vw;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__container {
    margin-bottom: 3rem;
  }
}
