* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  background-color: black;
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);

  &__spot {
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
